body{
    background-color: rgb(255, 250, 230);
}
h2{
    background-color: rgb(252, 224, 135);
}
h1{
    color: rgb(65, 179, 179);
}
ul{
    list-style-type: none;
}
h3{
    color: rgb(78, 115, 124);
}
li{
    color: rgb(122, 122, 121)
}